installCRDs: true

serviceAccount:
  create: true
  name: external-secrets
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::687398153695:role/cloudhero-staging-irsa

webhook:
  serviceAccount:
    create: true
    name: external-secrets-webhook

certController:
  serviceAccount:
    create: true
    name: external-secrets-cert-controller
